:root{
    --first-color: #4f46e5;
    --first-color-light: #7c3aed;
    --black-color: #0a0f1c;
    --text-color: hsl(29, 8%, 65%);
    --body-color: hsl(29, 100%, 99%);

    --body-font: 'poppins' , sans-serif;
    --h3-font-size: 1.125rem;
    --smaller-font-size: .75rem;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
}

.container{
    height: 100vh;
    margin-inline: 1.5rem;
    display: grid;
    place-items: center;
}

.card{
    position: relative;
    width: 380px;
    background-color: var(--black-color);
    padding: 2rem 2.5rem 4rem;
    border-radius: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 16px hsla(29, 75%, 8%, .2);
}

.card__img{
    width: 210px;
    border-radius: 50%;
}

.card__border{
    width: 220px;
    height: 220px;
    border: 2px solid var(--first-color);
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 auto .75rem;
}

.card__name{
    color: var(--first-color);
    font-size: 1.5rem;
    font-weight: 500;
}

.card__profission{
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
}

.card__social{
    width: 200px;
    background-color: var(--first-color);
    padding: .75rem;
    border-radius: 3rem;
    text-align: initial;
    box-shadow: 0 8px 24px hsla(29, 75%, 56%, .3);
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1.75rem;
    margin: 0 auto;
    overflow: hidden;
    transform-origin: 18px 17px;
}

.card__social-control{
    position: relative;
    transform-origin: 18px 18px;
    transition: transform .45s ease;
    transform: rotate(0);
    /*transform: rotate(-135deg)*/;
}

.card__social-toggle{
    display: inline-flex;
    background-color: var(--black-color);
    color: var(--first-color);
    font-size: 1.25rem;
    padding: .5rem;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    z-index: 10;
}

.card__social-text{
    display: block;
    color: var(--black-color);
    font-size: 0.8rem;
    font-weight: 500;
}

.card__social-list{
    display: inline-flex;
    column-gap: .75rem;
    transform: rotate(135deg);
    transform-origin: 18px 17px;
}

.card__social-link{
    display: inline-flex;
    background-color: var(--first-color-light);
    color: var(--black-color);
    font-size: 1.25rem;
    padding: 7px;
    border-radius: 50%;
}

.card__social-text,
.card__social-list{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 3.1rem;
}

.card__social-text{
    top: .5rem;
}

.animation .card__social-control{
    transform: rotate(-135deg);
}

.card__social.animation{
    animation: up-animation 1s ease-in-out forwards;
}

@keyframes up-animation{
    0%, 100%{
        transform: rotate(0);
    }
    50%, 60%{
        transform: rotate(-3deg);
    }
    88%{
        transform: rotate(1deg);
    }
}

.card__social.down-animation{
    animation: down-animation 1s ease-in-out forwards;
}

@keyframes down-animation{
    0%, 100%{
        transform: rotate(0);
    }
    50%, 60%{
        transform: rotate(6deg);
    }
    88%{
        transform: rotate(-1deg);
    }
}

@media (max-width: 768px) {

  .container {
    margin-inline: 1rem;
  }

  .card {
    width: 100%;
    padding: 1.5rem;
  }

  .card__img {
    width: 150px;
  }

  .card__border {
    width: 170px;
    height: 170px;
  }

  .card__social {
    width: 180px;
  }

}